main {
  position: relative;
  top: 150px;
  width: 100%;
  height: 712px;
  background-image: url(https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide3_image.jpg?v=12641487025129283819);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $bg_color;
  & p {
    text-transform: uppercase;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
  top: 75px;
}

.rotating-offers {
  position: relative;
  top: 100px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}