@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
	text-align: center;
}

body {
	background-color: lightgray;
}

h1 {
	font-size: 5rem;
	text-transform:uppercase;
	margin: 0;
	letter-spacing: 20px;
}

a {
	text-transform:uppercase;
	white-space: nowrap;
}

button {
	border: 2px solid #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	height: 3rem;
	width: 8rem;
	cursor: pointer;
}

/* nav rules */
nav {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: #FFFFFF;
	z-index: 15;
}

.logo-image {
	margin: 20px;
	height: 50%;
}

.nav-links {
	display:flex;
	justify-content: space-between;
	margin: 10px 20px;
	width: 40%;
	min-width: 420px;
}

.nav-links a {
	transition-duration: .5s;
	text-decoration: none;
	margin: 0 10px;
	padding: 10px;
	color: #000000;
	border: 2px solid #FFFFFF;
}

.nav-links a:hover {
	border: 2px solid #000000;
}

/* main rules */
main {
	position: relative;
	top: 150px;
	width: 100%;
	height: 712px;
	background-image: url(https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide3_image.jpg?v=12641487025129283819);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFFFFF;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	position: relative;
	top: 75px;
}

main p {
	text-transform: uppercase;
}

.rotating-offers {
	position: relative;
	top: 100px;
	width: 70%;
	display: flex;
	justify-content: space-between;
}

/* featured products rules */
.featured-products {
	margin-top: 300px;
	display: flex;
	flex-direction: column;
	border: 1px solid green;
}

.featured-gallery {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 auto;
}

.product-window {
	border: 1px solid red;
}